<div class="wrapper clearfix">
  <div class="background">
    <div class="navbar clearfix">
      <div class="back-icon" (click)="goBack()">
        <i class="fas fa-arrow-left"></i>
      </div>
      <div class="menu-icon" (click)="goBack()">
        <i class="fas fa-bars"></i>
      </div>
    </div>
    <div class="profile clearfix">
      <img class="profile-image" src="{{groupImage}}" alt="">
      <p class="profile-name">{{group}}</p>
      <p class="profile-place">Barcelona</p>
    </div>
    <div class="button-container clearfix">
      <div class="button-icon">
        <i class="fas fa-bell"></i>
      </div>
      <div class="button-icon toggle-me-trophy" (click)="showPrizesFunc()">
        <i class="fas fa-trophy"></i>
      </div>
      <div class="button-icon">
        <i class="fas fa-chart-area"></i>
      </div>
      <div class="button-icon" (click)="showAddMenu()">
        <i class="fas fa-plus"></i>
      </div>
    </div>
  </div>

  <ul class="main-container clearfix">
    <app-add-menu></app-add-menu>
    <app-add-task></app-add-task>
    <app-add-user></app-add-user>
    <app-add-prize></app-add-prize>
    <app-prizes  [prizes]='prizes'></app-prizes>

  <ul class="section collapsible" [ngClass]="this.taskBool ? 'show': 'collapsed'">
    <app-task *ngFor="let task of tasks" [task]='task'></app-task>
  </ul>
  </ul>
</div>
